@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  /* font-family: "Sora"; */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 98%;
}

.loader {
  width: 48px;
  height: 48px;
  background: #eab308ad;
  /* background:theme(colors.yellow.500); */
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 6px;
  top: 10px;
  width: 12px;
  height: 12px;
  color: #ff3d00;
  background: currentColor;
  border-radius: 50%;
  box-shadow:
    25px 2px,
    10px 22px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@layer components {
  .input{
    @apply w-full px-3 py-2 bg-transparent border-b focus:outline-none
        focus:border-b-yellow-500 transition-colors duration-300
          placeholder:text-sm placeholder:font-medium focus:placeholder:text-[0px]
  }
}